body {
  background-color: #24353f;
}

.sign-up {
  background-color: #24353f;

  filter: drop-shadow(0 0 10px black);
}

.sign-up h1 {
  color: #1aa2b8;
  
}

.sign-up input {
  background-color: #24353f;
  color: #999;
}
.sign-up input::placeholder {
  color: #999;
}

.sign-up button {
  border: 0;
  outline: 1px solid #1aa2b8;
  background-color: #24353f;
  border-radius: 5px;
  color: #1aa2b8;
}


.sign-up button:focus{
  outline: 1px solid #1aa2b8;
  background-color: #24353f;
  border-radius: 5px;
}
.sign-up button:hover {
  background-color: #1aa2b8;
  color: white;
}
